<p>Bạn đánh giá trang web của chúng tôi như thế nào?</p>
<form action="/feedback-form" method="post">
 <label for="satisfaction">Bạn có hài lòng không?</label><br>
  <input type="radio" name="feedbackInput" value="happy"> Hài lòng<br>
  <input type="radio" name="feedbackInput" value="unhappy"> Không hài lòng<br><br>
      <button type="submit">Submit</button>
</form>